h1, h2, h3, h4, h5, h6, p {
    font-family: Montserrat;
}

.breadcrumb {
    border: 1px solid #DDDDDD;
    background: none;
}

.nav-tabs {
    border-bottom: 3px solid #bfc9ca;
}

/* Footer */
body {
    background-color: #E3E3E3;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
}

.main-content {
    background-color: #fff;
    padding-bottom: 20px;
}

footer .footer-main {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

footer .footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer h3 {
    border-bottom: 1px solid #BAC1C8;
    padding: 20px 0 10px;
    text-transform: uppercase;
    color: #54697E;
    font-size: 18px;
}

footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

footer a {
    color: #78828D;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 8px;
    color: #EDEFF1!important;
}

.payment-method-img img {
    margin-left: 5px;
}

/* Carousel */

.carousel {
    margin-top: 40px !important;
}

.carousel h4 {
    font-size: 28px;
    line-height: 1.25;
    color: #393836;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
    position: relative;
    min-height: 300px;
}

.carousel-caption {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    padding: 10px 30px 20px;
    webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .1);

    margin-bottom: 200px;
}

@media (min-width: 993px) and (max-width: 1400px) {
    .carousel-caption {
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .carousel-caption {
        margin-bottom: 30px;
    }

    .carousel-caption h4 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        margin-bottom: 0px;
    }

    .carousel-caption h4 {
        font-size: 20px;
    }

    .carousel-caption img {
        width: 100px;
    }
}

/* Marketing */
.marketing {
    text-align: center;
}
.marketing i {
    font-size: 90px;
    color: #BBBBBB;
}

/* Locations */
.locations {
    text-align: center;
}
.locations h4 {
    background-color: rgba(0,0,0,0);
    box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);
    text-transform: uppercase;
    font-size: 28px;
}

.locations p {
    font-size: 16px;
    color: #393836;
}

.parallax {
    margin-top: 20px;

    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-image: url('/img/home/milan-cathedral.jpg');
}

.parallax span {
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 600px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar {
    background: #34495e;
}

.navbar-nav li>a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu>li>a {
    color: #333;
}

nav .nav>li>a:focus, nav .nav>li>a:hover {
    background: #2c3e50;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    font-weight:bold;
}

.navbar-toggle {
    background: rgba(0,0,0,0.2);
    color: #ffffff;
}

.navbar-toggle .icon-bar {
    border: solid 2px #fff;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

/* Megamenu */

.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;

    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

/* Dropdown Cart */
.mini-cart {
    padding: 20px 0px 0px 0px;
    margin-top: 0px
}

.mini-cart-product {
    border-bottom: solid 1px #ddd;
}

.mini-cart-product > div > div.row {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

    display: flex;
    align-items: center;
}

.mini-cart-product img {
    width: 100px;
}

.mini-cart-footer {
    background:#ECF0F1;
    padding: 0px 10px 10px;
}

.cart-btn {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgba(0,0,0,0.2);
    color: #ffffff;
}
