.callout.callout-default {
  border-color: #777;
  color: #fff !important;
  background-color: #777 !important;
}

/* Delete button on image previews */

.dropzone .dz-custom-delete {
  position: absolute;
  top: 5px;
  display:none;
  left: 13px;
  z-index: 1000;
  font-size: 20px;
}

.dropzone .dz-preview:hover .dz-custom-delete {
  display:block;
}