.member .avatar {
  text-align: center;
}

.member .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.member .name {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.member .position {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.member p {
  margin-top: 10px;
}