/* Buttons */
.btn-primary {
  background-color: #34495e;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #4a6989;
  border-color: #4a6989;
  color: #FFFFFF;
}

.btn-footer {
  background-color: #BDC3C7;
  color: #FFFFFF;
}

.btn-footer:hover {
  background-color: #CACFD2;
  border-color: #CACFD2;
  color: #FFFFFF;
}