$price-color: #2c3e50;

.price {
  font-size: 18px;
  font-weight: bold;
  color: $price-color;
}

.price a {
  color: $price-color;
}

.price a:hover {
  color: $price-color;
  text-decoration: none;
}

.breadcrumb {
  border: 1px solid #DDDDDD;
  background: none;
}

.nav-tabs {
  border-bottom: 3px solid #bfc9ca;
}

.form-footer {
  padding: 20px;
  border-top: solid 1px #eee;
  background: #EBEDEF;
  display: inline-block;
  width: 100%;
}

/* Order Summary */
.box {
  border: 1px solid #DDDDDD;
  padding: 10px;
}